In [1]:
import pandas as pd
import numpy as np

In [218]:
merged_df=pd.read_csv('Merge_data.csv')

In [219]:
# Ensure both columns are in datetime format
merged_df['departure.actualTime'] = pd.to_datetime(merged_df['departure.actualTime'])
merged_df['departure.scheduledTime'] = pd.to_datetime(merged_df['departure.scheduledTime'])

# Calculate the delay in Timedelta format
merged_df['delay'] = merged_df['departure.actualTime'] - merged_df['departure.scheduledTime']

# Convert delay to minutes
merged_df['delay_in_minutes'] = merged_df['delay'].dt.total_seconds() / 60

# View the resulting dataframe
merged_df[['departure.scheduledTime', 'departure.actualTime', 'delay_in_minutes']]

      departure.scheduledTime departure.actualTime  delay_in_minutes
0         2023-07-20 20:50:00  2023-07-20 20:15:00             -35.0
1         2023-07-18 15:05:00                  NaT               NaN
2         2023-07-23 09:50:00                  NaT               NaN
3         2023-07-26 23:30:00  2023-07-26 23:51:00              21.0
4         2023-07-20 11:35:00                  NaT               NaN
...                       ...                  ...               ...
51567     2023-11-16 09:50:00  2023-11-16 10:03:00              13.0
51568     2023-11-16 11:40:00  2023-11-16 11:48:00               8.0
51569     2023-11-27 10:50:00                  NaT               NaN
51570     2023-11-19 02:00:00                  NaT               NaN
51571     2023-11-23 06:30:00  2023-11-23 06:47:00              17.0

[51572 rows x 3 columns]

In [220]:
# Convert delay (timedelta) to minutes
merged_df['delay_in_minutes'] = merged_df['delay'].dt.total_seconds() / 60

# Replace negative values with 0
merged_df.loc[merged_df['delay_in_minutes'] < 0, 'delay_in_minutes'] = 0


merged_df[['departure.scheduledTime', 'departure.actualTime', 'delay_in_minutes']]

      departure.scheduledTime departure.actualTime  delay_in_minutes
0         2023-07-20 20:50:00  2023-07-20 20:15:00               0.0
1         2023-07-18 15:05:00                  NaT               NaN
2         2023-07-23 09:50:00                  NaT               NaN
3         2023-07-26 23:30:00  2023-07-26 23:51:00              21.0
4         2023-07-20 11:35:00                  NaT               NaN
...                       ...                  ...               ...
51567     2023-11-16 09:50:00  2023-11-16 10:03:00              13.0
51568     2023-11-16 11:40:00  2023-11-16 11:48:00               8.0
51569     2023-11-27 10:50:00                  NaT               NaN
51570     2023-11-19 02:00:00                  NaT               NaN
51571     2023-11-23 06:30:00  2023-11-23 06:47:00              17.0

[51572 rows x 3 columns]

In [221]:
merged_df['delay_in_minutes']=merged_df['delay_in_minutes'].fillna(merged_df['delay_in_minutes'].mean())
merged_df[['departure.scheduledTime', 'departure.actualTime', 'delay_in_minutes']]

      departure.scheduledTime departure.actualTime  delay_in_minutes
0         2023-07-20 20:50:00  2023-07-20 20:15:00          0.000000
1         2023-07-18 15:05:00                  NaT         13.484576
2         2023-07-23 09:50:00                  NaT         13.484576
3         2023-07-26 23:30:00  2023-07-26 23:51:00         21.000000
4         2023-07-20 11:35:00                  NaT         13.484576
...                       ...                  ...               ...
51567     2023-11-16 09:50:00  2023-11-16 10:03:00         13.000000
51568     2023-11-16 11:40:00  2023-11-16 11:48:00          8.000000
51569     2023-11-27 10:50:00                  NaT         13.484576
51570     2023-11-19 02:00:00                  NaT         13.484576
51571     2023-11-23 06:30:00  2023-11-23 06:47:00         17.000000

[51572 rows x 3 columns]

In [222]:
# data = {'departure.scheduledTime':[]}
# df=pd.DataFrame(data)
merged_df['departure.scheduledTime'] = pd.to_datetime(merged_df['departure.scheduledTime'])

# Extract temporal features
merged_df['day_of_week'] = merged_df['departure.scheduledTime'].dt.day_name()  # e.g., Monday, Tuesday
merged_df['hour_of_day'] = merged_df['departure.scheduledTime'].dt.hour         # e.g., 14, 8
merged_df['month_of_year'] = merged_df['departure.scheduledTime'].dt.month_name()  # e.g., December

# Display the resulting DataFrame

In [295]:

df_encoded = pd.get_dummies(merged_df, columns=['status','type','month_of_year','day_of_week','hour_of_day','airline.name',
       'airline.iataCode', 'airline.icaoCode', 'flight.number',
       'flight.iataNumber', 'flight.icaoNumber',])
df_encoded

,departure.iataCode,departure.icaoCode,departure.terminal,departure.scheduledTime,departure.estimatedTime,departure.actualTime,departure.estimatedRunway,departure.actualRunway,arrival.iataCode,arrival.icaoCode,...,flight.icaoNumber_uae8619,flight.icaoNumber_uae8621,flight.icaoNumber_uzp5401,flight.icaoNumber_uzp5405,flight.icaoNumber_vjt762,flight.icaoNumber_voz6098,flight.icaoNumber_voz6173,flight.icaoNumber_voz6174,flight.icaoNumber_voz6203,flight.icaoNumber_vsv850
0,lhe,opla,m,2023-07-20 20:50:00,2023-07-20t20:00:00.000,2023-07-20 20:15:00,2023-07-20t20:15:00.000,2023-07-20t20:15:00.000,ruh,oerk,...,0,0,0,0,0,0,0,0,0,0
1,lhe,opla,NaN,2023-07-18 15:05:00,2023-07-18t15:05:00.000,NaT,NaN,NaN,khi,opkc,...,0,0,0,0,0,0,0,0,0,0
2,lhe,opla,NaN,2023-07-23 09:50:00,NaN,NaT,NaN,NaN,khi,opkc,...,0,0,0,0,0,0,0,0,0,0
3,lhe,opla,m,2023-07-26 23:30:00,2023-07-26t23:30:00.000,2023-07-26 23:51:00,2023-07-26t23:51:00.000,2023-07-26t23:51:00.000,kwi,okkk,...,0,0,0,0,0,0,0,0,0,0
4,lhe,opla,m,2023-07-20 11:35:00,2023-07-20t17:15:00.000,NaT,NaN,NaN,dxb,omdb,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51567,lhe,opla,NaN,2023-11-16 09:50:00,2023-11-16t09:50:00.000,2023-11-16 10:03:00,2023-11-16t10:03:00.000,2023-11-16t10:03:00.000,khi,opkc,...,0,0,0,0,0,0,0,0,0,0
51568,lhe,opla,m,2023-11-16 11:40:00,2023-11-16t11:40:00.000,2023-11-16 11:48:00,2023-11-16t11:48:00.000,2023-11-16t11:48:00.000,jed,oejn,...,0,0,0,0,0,0,0,0,0,0
51569,lhe,opla,m,2023-11-27 10:50:00,2023-11-27t14:35:00.000,NaT,NaN,NaN,dxb,omdb,...,0,0,0,0,0,0,0,0,0,0
51570,lhe,opla,m,2023-11-19 02:00:00,2023-11-19t11:00:00.000,NaT,NaN,NaN,kul,wmkk,...,0,0,0,0,0,0,0,0,0,0
51571,lhe,opla,m,2023-11-23 06:30:00,2023-11-23t06:30:00.000,2023-11-23 06:47:00,2023-11-23t06:47:00.000,2023-11-23t06:47:00.000,jed,oejn,...,0,0,0,0,0,0,0,0,0,0

In [296]:
from sklearn.preprocessing import MinMaxScaler
columns_to_normalize=['type_departure', 'month_of_year_April', 'month_of_year_August',
       'month_of_year_December', 'month_of_year_February',
       'month_of_year_January', 'month_of_year_July', 'month_of_year_June',
       'month_of_year_March', 'month_of_year_May', 'day_of_week_Friday',
       'day_of_week_Monday', 'day_of_week_Saturday', 'day_of_week_Sunday',
       'day_of_week_Thursday', 'day_of_week_Tuesday', 'day_of_week_Wednesday',
       'hour_of_day_0', 'hour_of_day_1', 'hour_of_day_2', 'hour_of_day_3',
       'hour_of_day_4', 'hour_of_day_5', 'hour_of_day_6', 'hour_of_day_7',
       'hour_of_day_8', 'hour_of_day_9', 'hour_of_day_10', 'hour_of_day_11',
       'hour_of_day_12', 'hour_of_day_13', 'hour_of_day_14', 'hour_of_day_15',
       'hour_of_day_16', 'hour_of_day_17', 'hour_of_day_18', 'hour_of_day_19',
       'hour_of_day_20', 'hour_of_day_21', 'hour_of_day_22', 'hour_of_day_23','status_unknown','status_cancelled','status_active','Temp Max','Temp Avg', 'Temp Min', 'Dew Point Max', 'Dew Point Avg',
       'Dew Point Min', 'Humidity Max', 'Humidity Avg', 'Humidity Min',
       'Wind Speed Max', 'Wind Speed Avg', 'Wind Speed Min', 'Pressure Max',
       'Pressure Avg', 'Pressure Min']
scaler = MinMaxScaler()

# Apply normalization
df_encoded[columns_to_normalize] = scaler.fit_transform(df_encoded[columns_to_normalize])

In [297]:
# merged_df['delay_status'].value_counts()

In [298]:
from sklearn.preprocessing import StandardScaler
for index, i in enumerate(merged_df['delay_in_minutes']):
#     print('ppp: ', i)
    if i == 0.0:
        merged_df.loc[index, 'delay_status'] = 0
    elif i<45.0:
        merged_df.loc[index, 'delay_status'] = 1
    elif i>=45.0 and i<=175.0:
        merged_df.loc[index, 'delay_status'] = 2
    else:
        merged_df.loc[index, 'delay_status'] = 3
        
from sklearn.model_selection import train_test_split

X = df_encoded[['type_departure', 'month_of_year_April', 'month_of_year_August',
       'month_of_year_December', 'month_of_year_February',
       'month_of_year_January', 'month_of_year_July', 'month_of_year_June',
       'month_of_year_March', 'month_of_year_May', 'day_of_week_Friday',
       'day_of_week_Monday', 'day_of_week_Saturday', 'day_of_week_Sunday',
       'day_of_week_Thursday', 'day_of_week_Tuesday', 'day_of_week_Wednesday',
       'hour_of_day_0', 'hour_of_day_1', 'hour_of_day_2', 'hour_of_day_3',
       'hour_of_day_4', 'hour_of_day_5', 'hour_of_day_6', 'hour_of_day_7',
       'hour_of_day_8', 'hour_of_day_9', 'hour_of_day_10', 'hour_of_day_11',
       'hour_of_day_12', 'hour_of_day_13', 'hour_of_day_14', 'hour_of_day_15',
       'hour_of_day_16', 'hour_of_day_17', 'hour_of_day_18', 'hour_of_day_19',
       'hour_of_day_20', 'hour_of_day_21', 'hour_of_day_22', 'hour_of_day_23','status_unknown','status_cancelled','status_active','Temp Max','Temp Avg', 'Temp Min', 'Dew Point Max', 'Dew Point Avg',
       'Dew Point Min', 'Humidity Max', 'Humidity Avg', 'Humidity Min',
       'Wind Speed Max', 'Wind Speed Avg', 'Wind Speed Min', 'Pressure Max',
       'Pressure Avg', 'Pressure Min']]
y = merged_df['delay_status']
y=y.astype(int)

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
np.unique(merged_df['delay_status'])

array([0., 1., 2.])

In [287]:
from sklearn.feature_selection import SelectKBest, f_classif

selector = SelectKBest(score_func=f_classif, k=10)
X_selected = selector.fit_transform(X, y)
X_train, X_test, y_train, y_test = train_test_split(X_selected, y, test_size=0.2, random_state=42)

# from sklearn.feature_selection import RFE
# from sklearn.ensemble import RandomForestClassifier

# selector = RFE(RandomForestClassifier(), n_features_to_select=10)
# X_selected = selector.fit_transform(X, y)

C:\ana\Lib\site-packages\sklearn\feature_selection\_univariate_selection.py:112: UserWarning: Features [0] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
C:\ana\Lib\site-packages\sklearn\feature_selection\_univariate_selection.py:113: RuntimeWarning: invalid value encountered in divide
  f = msb / msw

In [ ]:
from sklearn.tree import DecisionTreeClassifier

tree_model = DecisionTreeClassifier(max_depth=5, random_state=42)
tree_model.fit(X_train, y_train)

In [282]:
# from sklearn.linear_model import LogisticRegression
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# model = LogisticRegression(penalty='l2', C=0.1, random_state=42)  # Use L2 regularization
# model.fit(X_train, y_train)

# from sklearn.model_selection import cross_val_score

# scores = cross_val_score(model, X_train, y_train, cv=5)
# print("Average cross-validation score:", scores.mean())

In [203]:
# X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=42)

# multi_classifier = RandomForestClassifier(random_state=42)
# multi_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [100]:
from sklearn.model_selection import GridSearchCV

# Define parameter grid for n_neighbors
param_grid = {
    'n_neighbors': range(3, 15)  # Test neighbor values from 3 to 14
}

# Initialize GridSearchCV
grid_search = GridSearchCV(KNeighborsClassifier(), param_grid, cv=5, scoring='accuracy')

# Perform the search
grid_search.fit(X_train, y_train)

# Print the best number of neighbors
print("Best number of neighbors:", grid_search.best_params_)
print("Best accuracy score:", grid_search.best_score_)

Best number of neighbors: {'n_neighbors': 13}
Best accuracy score: 0.9003805205708699

In [290]:
y_valid_pred = rf_model.predict(X_test)
print("Validation Accuracy:", accuracy_score(y_test, y_valid_pred))
print("Classification Report on Validation Data:\n", classification_report(y_test, y_valid_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_valid_pred))

Validation Accuracy: 0.9011148812409113
Classification Report on Validation Data:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00       928
           1       0.90      1.00      0.95      9295
           2       0.00      0.00      0.00        92

    accuracy                           0.90     10315
   macro avg       0.30      0.33      0.32     10315
weighted avg       0.81      0.90      0.85     10315

Confusion Matrix:
 [[   0  928    0]
 [   0 9295    0]
 [   0   92    0]]

C:\ana\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ana\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ana\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [291]:
test_df=pd.read_csv('Merge_data_test.csv')

In [292]:

df_encoded_test = pd.get_dummies(test_df, columns=['status','type','month_of_year','day_of_week','hour_of_day','airline.name',
       'airline.iataCode', 'airline.icaoCode', 'flight.number',
       'flight.iataNumber', 'flight.icaoNumber'])
df_encoded_test.columns

Index(['departure.iataCode', 'departure.icaoCode', 'departure.scheduledTime',
       'departure.estimatedRunway', 'departure.actualRunway',
       'arrival.iataCode', 'arrival.icaoCode', 'arrival.scheduledTime',
       'arrival.estimatedTime', 'departure.terminal',
       ...
       'flight.icaoNumber_uae613', 'flight.icaoNumber_uae615',
       'flight.icaoNumber_uae623', 'flight.icaoNumber_uae625',
       'flight.icaoNumber_uae8619', 'flight.icaoNumber_uae8621',
       'flight.icaoNumber_voz6098', 'flight.icaoNumber_voz6173',
       'flight.icaoNumber_voz6174', 'flight.icaoNumber_vsv850'],
      dtype='object', length=1972)

In [293]:

test_X = df_encoded_test[['type_departure', 'month_of_year_April', 'month_of_year_August',
       'month_of_year_December', 'month_of_year_February',
       'month_of_year_January', 'month_of_year_July', 'month_of_year_June',
       'month_of_year_March', 'month_of_year_May', 'day_of_week_Friday',
       'day_of_week_Monday', 'day_of_week_Saturday', 'day_of_week_Sunday',
       'day_of_week_Thursday', 'day_of_week_Tuesday', 'day_of_week_Wednesday',
       'hour_of_day_0', 'hour_of_day_1', 'hour_of_day_2', 'hour_of_day_3',
       'hour_of_day_4', 'hour_of_day_5', 'hour_of_day_6', 'hour_of_day_7',
       'hour_of_day_8', 'hour_of_day_9', 'hour_of_day_10', 'hour_of_day_11',
       'hour_of_day_12', 'hour_of_day_13', 'hour_of_day_14', 'hour_of_day_15',
       'hour_of_day_16', 'hour_of_day_17', 'hour_of_day_18', 'hour_of_day_19',
       'hour_of_day_20', 'hour_of_day_21', 'hour_of_day_22', 'hour_of_day_23','status_unknown','status_cancelled','status_active','Temp Max','Temp Avg', 'Temp Min', 'Dew Point Max', 'Dew Point Avg',
       'Dew Point Min', 'Humidity Max', 'Humidity Avg', 'Humidity Min',
       'Wind Speed Max', 'Wind Speed Avg', 'Wind Speed Min', 'Pressure Max',
       'Pressure Avg', 'Pressure Min']]

# sahal=pca.transform(test_X)

# Predict delay status on the test dataset
test_pred = tree_model.predict(test_X)

In [294]:
np.unique(test_pred)

array([1])

In [273]:
label_mapping = {
    0: "No Delay",
    1: "Short Delay",
    2: "Moderate Delay",
    3: "Long Delay"
}

# Map predictions
test_pred_mapped = [label_mapping[pred] for pred in test_pred]

In [274]:
np.unique((test_pred_mapped))

array(['No Delay', 'Short Delay'], dtype='<U11')

In [278]:
submission_df = pd.DataFrame({
    'ID': range(1, len(test_pred_mapped) + 1),  # Replace 'ID' with the identifier column in the test dataset
    'Delay': test_pred_mapped  # Predicted delay status (0 or 1)
})
sahal=submission_df

In [279]:
sahal.to_csv("submission_multi.csv", index=False)
print("Submission file created: submission_multi.csv")

Submission file created: submission_multi.csv

In [280]:
(sahal['Delay'].value_counts())

Short Delay    12850
No Delay          64
Name: Delay, dtype: int64